.main {
    margin-top: 100px;
    padding-bottom: 30px;
    height: 100%;
}

.cards {
    padding: 0 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.link-btn {
    padding: 15px 0;
    text-align: center;
    position: relative;
    background-color: #ffffff;
    height: 50px;
    width: 600px;
    border-radius: 50px;
    text-decoration: none;
    color: black;
}

.link-btn:hover {
    color: white;
    background-color: #2756bb;
}

.card-component {
    position: relative;
    background-color: #ffffff;
    height: auto;
    width: 600px;
    border-radius: 20px;
}

.btn-div {
    display: flex;
    gap: 10px;
    bottom: 5px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.btn-div:hover {
    color: #a7c3d9;
}

.card-image img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.card-header {
    position: relative;
    gap: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
}

.user-photo img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.user-info p {
    padding-top: 5px;
}

.user-info {
    padding-top: 5px;
}

.card-desc {
    padding: 0 20px 5px 20px;
    font-weight: 500;
    font-size: 18px;
}

.user-actions {
    color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin: 10px;
}

.links {
    padding: 10px 20px;
    border-radius: 40px;
    background-color: #2756bb;
    text-decoration: none;
    color: white;
}

.links:hover {
    background-color: #376cdc;
    color: black;
}
