.main {
    margin-top: 100px;
    padding-bottom: 30px;
    height: 100%;
}

.cards {
    padding: 0 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.link-btn {
    padding: 15px 0;
    text-align: center;
    position: relative;
    background-color: #ffffff;
    height: 50px;
    width: 600px;
    border-radius: 50px;
    text-decoration: none;
    color: black;
}

.link-btn:hover {
    color: white;
    background-color: #2756bb;
}
