.card-component {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #ffffff;
    height: 350px;
    width: 1300px;
    border-radius: 10px;
}

.card-image {
    height: 350px;
}

.card-component div p {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
}

.btn-a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-component .continue-btn {
    margin: 0;
    margin-top: 20px;
    text-align: center;
    color: white;
    background-color: #2756bb;
    border-radius: 20px;
    padding: 10px 25px;
    font-family: 'Anonymous Pro', monospace;
}

.card-component .continue-btn:hover {
    color: #2756bb;
    background-color: #a7c3d9;
}

.card-component img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
    width: 450px;
    height: 350px;
}

.card-desc {
    padding: 0 20px;
    text-align: center;
}
