.main {
    margin-top: 100px;
    padding-bottom: 30px;
    height: 100%;
}

.comments-section {
    border-radius: 20px;
    background-color: white;
    padding: 30px 150px;
    margin: 0 300px;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.comment {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.comment img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment .name {
    font-weight: bold;
    margin-right: 10px;
}

.comment .message {
    flex: 1;
}

.link-btn {
    font-size: 32px;
    top: 100px;
    left: 330px;
    padding: 15px 0;
    text-align: center;
    position: absolute;
    text-decoration: none;
    color: black;
}

.link-btn:hover {
    color: #2756bb;
}
